

#inputForm{
    display: flex;
    flex-direction: column;
}

#inputForm input{
    margin-bottom: 10px;
    width: 50%;
    height: 20px;
}

#button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
}